<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crouzet.cavalec.heydude" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- To auto-complete the email text field in the name form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ChatActivity"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name=".services.BackgroundServiceUpdateOnlineUsers" />
        <service android:name=".services.BackgroundServiceCheckIfUserCallMe" />
        <service android:name=".services.BackgroundServiceHandleSockets" />

    </application>

</manifest>
